@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: theme("colors.backgroundDark");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer utilities {
  .text-deemphasis {
    @apply text-slate-300;
    @apply dark:text-slate-600;
  }

  .bg-green {
    @apply bg-emerald-300;
    @apply dark:bg-emerald-900;
  }

  .bg-green-half {
    /* // https://stackoverflow.com/questions/23362157/how-to-make-a-css-triangle-background-on-a-div-without-using-border-and-image */
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, theme('colors.emerald.300') 50%, theme('colors.emerald.300') 100%);
    @apply border-emerald-300;

    border-top-color: theme('colors.backgroundLight');
    border-left-color: theme('colors.backgroundLight');
  }

  .bg-green-half-hover {
    /* // https://stackoverflow.com/questions/23362157/how-to-make-a-css-triangle-background-on-a-div-without-using-border-and-image */
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, theme('colors.sky.400') 50%, theme('colors.sky.400') 100%);
    @apply border-sky-400;

    border-top-color: theme('colors.backgroundLight');
    border-left-color: theme('colors.backgroundLight');
  }

  .bg-green-half-dark {
    /* // https://stackoverflow.com/questions/23362157/how-to-make-a-css-triangle-background-on-a-div-without-using-border-and-image */
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, theme('colors.emerald.900') 50%, theme('colors.emerald.900') 100%);
    @apply border-emerald-900;

    border-top-color: theme('colors.backgroundDark');
    border-left-color: theme('colors.backgroundDark');
  }

  .bg-green-half-hover-dark {
    /* // https://stackoverflow.com/questions/23362157/how-to-make-a-css-triangle-background-on-a-div-without-using-border-and-image */
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, theme('colors.sky.600') 50%, theme('colors.sky.600') 100%);
    @apply border-sky-600;

    border-top-color: theme('colors.sky.700');
    border-left-color: theme('colors.sky.700');
  }

  .bg-red {
    @apply bg-red-200;
    @apply dark:bg-red-900;
  }
}

@layer components {
  td, th {
    @apply p-1;
  }

  button, .labelButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover, .labelButton:hover {
    border-color: #646cff;
  }
  button:focus, .labelButton:focus
  button:focus-visible, .labelButton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  h2 {
    @apply font-bold;
    @apply mt-2;
    @apply mb-1;
  }

  label {
    @apply px-2;
  }

  input {
    @apply mx-2;
  }

  .particle {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    opacity: 0;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

details {
  cursor: pointer;
  padding: 0;
}

input {
  min-width: 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: theme("colors.backgroundLight");
  }
  a:hover {
    color: #747bff;
  }
  button, .labelButton {
    @apply bg-gray-100;
  }
}
